/* sidebar */

.sidebar{
    position: fixed;
    z-index: 1;
    width: 8vw;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0.5em 0px  black inset; 
    background-color: white;
}

.sidebar>nav>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 4vh;
    font-size: 1em;
}

.sidebar>nav>li:nth-child(5){
    margin-bottom: 10vh;
    margin-top: 10vh;
    rotate: 90deg;
}

.sidebar>nav>li>a{
    text-decoration: none;
}

.sidebar>nav>li>a>img{
    height: 8vh;
}

/* main sections */

.intro,.about,.expert,.experiences,.tech,.proj,.cont{
    position: relative;
    right: 0;
    left: 0;
    height: 100vh;
}

/* home */

.intro>section,.intro>section>aside{
    display: flex;
}

.intro>section>section{
    display: grid;
    align-self: center;
}

.intro>section>aside>img:first-child{
    height: 20vh; 
}

.intro>section>aside>img:nth-child(2){
    z-index: 1;
    height: 90vh; 
}

.intro>section>aside>div{
    align-self: end;
    margin-left: -20vw;
    height: 44vh;
    width: 22vw;
    border-radius: 100%;
    background-color: #D9D9D9;
    border: 2px solid black;
    filter: drop-shadow(0px 5px 5px black);
}

/* footer */
.base{
    display: flex;
}