/* navigation bar */

.sidebar{
    position: fixed;
    height: 15vh;
    background-color: black;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.sidebar>img:first-child{
    position: relative;
    height: 8vh;
    margin-left: 3vw;
    
}

.sidebar>img:first-child:hover{
    height: 9vh;
    filter: drop-shadow(0px 3px 10px white);
}

.sidebar>nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar>nav>li>a{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 21vh;
    margin-right: 6vh;
} 


/* main sections */

.intro,.about,.expert,.experiences,.tech,.proj,.cont{
    position: relative;
    right: 0;
    left: 0;
    height: 100vh;
}

/* home */

.intro>section{
    display: flex;
    background-color: black;
    border-radius: 0px 0px 378px 0px;
    height: 100%;
}

/* footer */
/* .base{
    display: flex;
} */
