
/* all link references */
a{
    text-decoration: none;
}

/* all paragraphs */
p{
    text-align: center;
    font-size: 2.5vh;
}

/* navigation bar */

.sidebar{
    position: fixed;
    height: 10vh;
    background-color: black;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.sidebar>img:first-child{
    position: relative;
    height: 6vh;
    margin-left: 3vw;
}

.sidebar>img:first-child:hover{
    height: 8vh;
    filter: drop-shadow(0px 3px 10px white);
    transition-duration: 1s;
}

.sidebar>nav{
    position: relative;
    display: flex;
    height: 100%;
    width: 60vw;
}

.sidebar>nav>li>a{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
} 

.sidebar>nav>li{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.sidebar>nav>li:hover{
    box-shadow: inset 0 -1vh 0 white;
}



/* main sections */

.inner_intro,.about,.expert,.experiences,.tech,.proj,.cont{
    position: relative;
    right: 0;
    left: 0;
    height: 100vh;
    margin: 0;
}

/* home */

.inner_intro{
    display: flex;
    background-color: black;
    border-radius: 0 0 40vh 0;
    justify-content: space-between;
}

.inner_intro>section:nth-child(2){
    align-items: center;
    z-index: 3;
}

.inner_intro>div:nth-child(4){
    position: fixed;
    right: 0;
    top: 25vh;
    height: 3vh;
    width: 4vw;
    background-color: #CBCBCB;
    border-radius: 60px 0 0 60px;
    border:3px solid white;
    z-index: 3;
}

.inner_intro>div:nth-child(4)>div{
   border-radius: 50%;
   height: 100%;
   aspect-ratio: 1/1;;
   background-color: black;
}

.inner_intro>section:nth-child(2),.inner_intro>aside:nth-child(3){
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    margin-top: 10vh;
}

    
.inner_intro>section:nth-child(2)>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 22vh;
    margin-top: 3vh;
}

    /* polygon containers */

.inner_intro>section:nth-child(2)>div:first-child>div:first-child,.inner_intro>section:nth-child(2)>div:first-child>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 16vw;
}

.inner_intro>section:nth-child(2)>div:first-child>div>img{
    filter: drop-shadow(1vh 1vh 0.5vh rgba(255, 255, 255, 0.25));
}

/* first polygon set */

.inner_intro>section:nth-child(2)>div:first-child>div:first-child>img:first-child{
    align-self: flex-start;
    height:12vh;
}

.inner_intro>section:nth-child(2)>div:first-child>div:first-child>img:nth-child(2){
    align-self: flex-end;
    height:8vh;
}

.inner_intro>section:nth-child(2)>div:first-child>div:first-child>img:nth-child(3){
    align-self: center;
    height:6vh;
}

    /* second polygon set */

.inner_intro>section:nth-child(2)>div:first-child>div:nth-child(2){
    height: 20vh;
}

.inner_intro>section:nth-child(2)>div:first-child>div:nth-child(2)>img:first-child{
    align-self: center;
    height:8vh;
}

.inner_intro>section:nth-child(2)>div:first-child>div:nth-child(2)>img:nth-child(2){
    align-self: flex-end;
    height:7vh;
}

.inner_intro>section:nth-child(2)>div:first-child>div:nth-child(2)>img:nth-child(3){
    align-self: flex-start;
    height:9vh;
}

    /* paragraph container */

.inner_intro>section:nth-child(2)>div:nth-child(5){
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1vh solid white;
    margin-top: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.inner_intro>section:nth-child(2)>h3:nth-child(2),.inner_intro>section:nth-child(2)>h1:nth-child(3),.inner_intro>section:nth-child(2)>div:nth-child(5)>p{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0;
}

.inner_intro>section:nth-child(2)>h1:nth-child(3){
    font-size:8vh;
}

.inner_intro>section:nth-child(2)>h3:nth-child(2){
    font-size:3vh;
}

    /* white container */

.inner_intro>section:nth-child(2)>div:nth-child(4){
    height: 12vh;
    width: 30vw;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 30px 30px 60px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    align-items: center;
}


.inner_intro>section:nth-child(2)>div:nth-child(4)>h1{
    font-size: 3rem;
}

.inner_intro>section:nth-child(2)>div:nth-child(7){
    width:20vw;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
}


.inner_intro>section:nth-child(2)>div:nth-child(6)>a>button{
    width:8vw;
    background-color: transparent;
    border: 0.5vh solid white;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.8vh;
    margin-top: 6vh;
}

.inner_intro>section:nth-child(2)>div:nth-child(6)>a>button:hover{
    background-color: white;
    border: 0.5vh solid #CBCBCB;
    color: black;
    transition-duration: 2s;
}

.inner_intro>div:nth-child(5){
    position: absolute;
    bottom: 2vh;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
}

.inner_intro>div:nth-child(5)>a>img{
    height: 5vh;
}


.inner_intro>aside:nth-child(3)>div:first-child{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.inner_intro>aside:nth-child(3)>img:nth-child(2){
   position: absolute;
   height: 85vh;
   bottom: 0;
   right: 15vw;
   filter: drop-shadow(0 0 1vh black);
   z-index: 3;
}

.inner_intro>aside:nth-child(3)>div:first-child>img:nth-child(3){
    position: absolute;
    height:87vh;
    bottom: 0vh;
    right: 0;
 }

 .smallcircle{
    width: 8vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 2vh solid white;
    align-self: end;
    margin-right: 10vw;
    z-index: 2;
    filter: drop-shadow(0 0 1vh white);
    margin-top: 4vh;
 }

 .bigcircle{
    width: 25vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 4vh solid white;
    align-self: center;
    z-index: 2;
    filter: drop-shadow(0 0 3vh white);
 }


 /* about */

 .about{
    background-color: black;
 }

 .about>section:nth-child(2){
    background-color: white;
    border-radius: 40vh 0 40vh 40vh;
    height: 100%;
    display: flex;
 }

 .about>section:nth-child(2)>section:first-child,.about>section:nth-child(2)>section:nth-child(2){
    position: relative;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
 }

 .about>section:nth-child(2)>section:first-child{
    
 }

 .about>section:nth-child(2)>section:first-child>img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 15vw;
    height: 85vh;
    margin: auto;
 }
 
 .about>section:nth-child(2)>section:first-child>div:first-child{
    display: flex;
    height: 22vh;
    margin-left: 6vw;
    justify-content: space-around;
    width: 15vw;
    margin-top: 3vh;
    align-self: flex-start;
 }

 .about>section:nth-child(2)>section:first-child>div:first-child>img:first-child{
    align-self: center;
    height: 11vh;
    filter: drop-shadow(1vh 1vh 0.5vh #CBCBCb);
 }

 .about>section:nth-child(2)>section:first-child>div:first-child>img:nth-child(2){
    align-self: flex-start;
    height: 15vh;
    filter: drop-shadow(1vh 1vh 0.5vh #CBCBCb);
 }

 .about>section:nth-child(2)>section:first-child>div:first-child>img:nth-child(3){
    align-self: flex-end;
    height: 7vh;
    filter: drop-shadow(1vh 1vh 0.5vh #CBCBCb);
 }

 .about>section:nth-child(2)>section:first-child>div:nth-child(2){
    align-self: flex-end;
    margin-right: 5vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 2vh solid white;
    border-top: 2vh solid black;
    border-bottom: 2vh solid black;
    height: 8vh;
    transform: rotate(315deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
 }

 .about>section:nth-child(2)>section:first-child>div:nth-child(2)>img:first-child{
    height: 5vh;
    transform: rotate(-315deg);
 }

 .about>section:nth-child(2)>section:first-child>div:nth-child(2):hover{
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(405deg);
 }

 .about>section:nth-child(2)>section:first-child>img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 15vw;
    height: 85vh;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:first-child{
    display: flex;
    height: 25vh;
    width: 11vw;
    align-self: flex-end;
    flex-direction: column;
    margin-right: 9vh;
    position: absolute;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:first-child>img:first-child{
    align-self: flex-start;
    height: 7vh;
    filter: drop-shadow(2px 4px 6px black);
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:first-child>img:nth-child(2){
    filter: drop-shadow(2px 4px 6px black);
    height: 8vh;
    align-self: center;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:first-child>img:nth-child(3){
    align-self: flex-end;
    height: 10vh;
    filter: drop-shadow(2px 4px 6px black);
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(2){
    border-bottom: 2vh solid #CBCBCBCB;
    margin-top: 5vh;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(2)>h3:first-child{
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    font-family: sans-serif;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(3){
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 60vh;
    border: 3vh solid black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px black);
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(3)>div:first-child{
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 92%;
    border: 1vh solid white;
    background-color: #CBCBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
    
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(3)>div:nth-child(3){
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .about>section:nth-child(2)>section:nth-child(2)>div:nth-child(3)>div:nth-child(3)>p:first-child{
    font-size: 2vh;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0;
 }

 .about>section:nth-child(2)>section:nth-child(2)>a:nth-child(4)>button{
    border: 1vh solid black;
    background: transparent;
    font-family: sans-serif;
    padding: 0.5vh;
    position: absolute;
    bottom: 5vh;
    left: 0;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
 }


/* footer */
.base{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2vh;
    color: rgba(0, 0, 0, 0.50);
    font-weight: bolder;
    font-family: sans-serif;
}

.base>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base>div>img{
    height: 7vh;
}

.base>div>a{
    color: rgba(0, 0, 0, 0.50);
    font-weight: bolder;
    font-family: sans-serif;
}
