/* all links */

a{
    text-decoration: none;
}

/* header */

.header{
    height: 10vh;
    position: absolute;
    left: 0;
    display: flex;
    background-color: black;
    right: 0;
    align-items: center;
    z-index: 100;
}

.header>button{
    position: relative;
    height: 8vh;
    background-color: transparent;
    border: none;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
}

.header>button:hover{
    filter: drop-shadow(0vh 0 1vh white);
}

.header>button>a>img{
    height: 7vh;
}

/* home screen */

.proj_home{
    height: 100vh;
    background-color: black;
    position: relative;
    border-radius: 0 0 40vh 0;
    display: flex;
    justify-content: space-between;
}

.proj_home>div:first-child{
    display: flex;
    align-items: flex-end;
    width: 22.5vw;
}

.proj_home>div:first-child>div:first-child{
    height: 36vh;
    width: 33vh;
    margin-bottom: 5vh;
    display: flex;
}

.proj_home>div:first-child>div:first-child>img{
    filter: drop-shadow(0.5vh 0.5vh 1vh white);
}

.proj_home>div:first-child>div:first-child>img:first-child{
    height: 10vh;
    align-self: flex-start;
}

.proj_home>div:first-child>div:first-child>img:nth-child(2){
    height: 15vh;
    align-self: center;
}
.proj_home>div:first-child>div:first-child>img:nth-child(3){
    height: 13vh;
    align-self: flex-end;
}

.proj_home>section:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
}

.proj_home>section:nth-child(2)>h1:first-child{
    color: white;
    text-align: center;
    font-size: 7vh;
    width: 44vh;
    filter: drop-shadow(0 0 0.3vh white);
    margin: 0;
}

.home_proj_view{
    background: url(../assets/images/logos/css-3.png);
    height: 45vh;
    background-size: cover;
    width: 39vw;
    margin-top: 2vh;
}

.proj_home>section:nth-child(2)>div:nth-child(3){
    display: flex;
    margin-top: 8vh;
    width: 50vw;
    justify-content: space-evenly;
}

.proj_home>section:nth-child(2)>div:nth-child(3)>button{
    height: 7vh;
    width: 10vw;
    background: transparent;
    border: 1vh solid white;
    color: white;
    font-size: larger;
    font-family: sans-serif;
}

.proj_home>div:nth-child(3){
    display: flex;
    align-items: center;
    width: 22.5vw;
}

.proj_home>div:nth-child(3)>img{
    height: 42vh;
    filter: grayscale(100%);
}

/* footer */

.base{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2vh;
    color: rgba(0, 0, 0, 0.50);
    font-weight: bolder;
    font-family: sans-serif;
}

.base>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

.base>div>img{
    height: 7vh;
}

.base>div>a{
    color: rgba(0, 0, 0, 0.50);
    font-weight: bolder;
    font-family: sans-serif;
}
